<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, 'data-turbo-method': :delete %>
  <div class='template'>
  <% @users.each do |user| %>
    <div class='user-container'>
      <img src="<%= user.photo%>" class='user-img' />
      <div class='user-div'>
        <h2><%= link_to user.name, user_url(user) %></h2>
        <small class='posts_counter'>Number of posts: <%= user.posts_counter %></small>
      </div>
    </div>
  <% end %>
  </div>
<% else %>
  <%= link_to "Login", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
