<div>
  <div>
    <img src="<%= @user.photo%>" width="150" height="200" />
    <h1><%= @user.name %></h1>
    <small>Number of posts: <%= @user.posts_counter %></small>
  </div>
  <% @posts.each do |post| %>
    <div>
      <h3><%= link_to post.title, user_post_url(@user, post) %></h3>
      <p><%= post.text %></p>
      <small>Comments:<%= post.comments_counter %>, Likes:<%= post.likes_counter %></small>
      </div>
    <div>
    <div>
      <% post.recent_comments.each do |comment| %>
        <p><%= comment.author.name%>:<%= comment.text%>
      <% end %>
    </div>
  <% end %>
</div>
